// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #9ed9c5;
$light-gray: #F4F4F4;

$color-primary: #ea5455;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black-1: #111;
$color-black-2: #414141;

$color-white-1: #fff;
$color-white-2: #f7f7f7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-red-1: #a44444;
$color-red-2: #f12d2d;
$color-red-3: #841818;
$color-red-4: #b73535;
$color-red-5: #ff1f5a;
$color-red-6: #d3560e;
$color-red-7: #851e52;
$color-red-8: #6a0000;
$color-red-9: #f73859;

$color-blue-1: #2998ff;
$color-blue-2: #5643fa;
$color-blue-3: #0f117a;
$color-blue-4: #d9f2ff;
$color-blue-5: #2aa9d2;

$color-green-1: #ea5455;
$color-green-2: #7ed56f;
$color-green-3: #4e9525;

$color-yellow-1: #facf5a;
$color-yellow-2: #f8c43a;
$color-yellow-3: #ffbe00;

$color-orange-1: #ffb900;
$color-orange-2: #ff7730;

