// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$color-primary: #ea5455;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-black-1: #111;
$color-black-2: #414141;

$color-white-1: #fff;
$color-white-2: #f7f7f7;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
