// Specific CSS for your home-page
$side-bar-size: 20rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  // font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 90vh;
  position: relative;
  margin-left: $side-bar-size;

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}


.heading-primary {
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
}

.section-products {
  margin-left: $side-bar-size;
}

.section-sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: $side-bar-size;
  text-align: center;
}

.sidebar {

  position: relative;
  width: 100%;
  height: 100%;

  &__logo-box {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  &__logo-wagon {
    height: 2rem;
    animation-name: moveInDown;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }

  &__logo-alumni {
    height: 2rem;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }

  &__logo-text {
    font-size: 2rem;
    color: $color-black-1;
    margin: 0 0.5rem;
    display: inline-block;
  }

  &__search {
    position: absolute;
    width: 90%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__categories {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: right;
    padding-right: 1rem;
  }

  ul {
    list-style: none;
  }

  li {
    color: $color-white-1;
  }

  a:link, a:visited {
    text-decoration: none;
  }

}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}




