// Specific CSS for your home-page

// Side bar size
$side-bar-size: 20rem;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 1rem;
  box-sizing: border-box;
}

// Header with video and title
.header {
  height: 95vh;
  position: relative;

  &__text-box {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: right;
    width: 100%;
  }

}

.heading-primary {
    color: $color-white-1;
    text-transform: uppercase;
    font-size: 7rem;
    font-weight: 500;
    letter-spacing: 1rem;

  .heading-primary--1 {
    margin: 4rem 0;
  }

  .heading-primary-subtitle {
    font-size: 4rem;
  }
}

.heading-secondary {
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 1rem;
  text-align: center;
}

// Section for top products
.section-popular-keywords {
  margin-left: calc(20rem + 1rem);
  text-align: center;

  a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-black-1;
    padding: 0rem 1rem;
    font-size: 2rem;
    font-weight: 300;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black-1 50%);
    background-size: 230%;
    transition: all .4s;
  }

  a:hover, a:active {
    background-position: 100%;
    color: $color-white-1;
    transform: translateX(1rem);
  }

}

// Section for top products
.section-top-products {
  margin-left: calc(20rem + 1rem);
}

// Section for all products
.section-products {
  margin-left: calc(#{$side-bar-size} + 1rem);
}

// Section for the sidebar
.section-sidebar {
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: $side-bar-size;
  text-align: center;
  z-index: 999;
}

.sidebar {
  position: relative;
  width: 100%;
  height: 100%;

  .form-control {
    font-size: 1.5rem;
    font-weight: 300;
    color: $color-black-1;
  }

  &__logo-box {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }

  &__logo-wagon {
    height: 5rem;
    border-radius: 50%;
    animation-name: moveInDown;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }

  #logo-alumni {
    height: 5rem;
    border-radius: 50%;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
  }

  &__logo-text {
    font-size: 2rem;
    color: $color-black-1;
    margin: 0 0.5rem;
    display: inline-block;
  }

  &__search {
    position: absolute;
    width: 80%;
    top: 10%;
    padding-right: 1rem;
    right: 1px;
  }

  &__categories {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: right;
    padding-right: 1rem;

    &__checkbox--cities, &__checkbox--year, &__checkbox--topic {
      display: none;
    }

    &__checkbox--cities:checked ~ &__navigation--cities {
      opacity: 1;
      width: $side-bar-size;
      transition: all .4s;
    }

    &__checkbox--year:checked ~ &__navigation--year {
      opacity: 1;
      width: $side-bar-size;
      transition: all .4s;
    }

    &__checkbox--topic:checked ~ &__navigation--topic {
      opacity: 1;
      width: $side-bar-size;
      transition: all .4s;
    }

    &__button {
      margin-bottom: 0px;
      font-weight: 300;
      padding: 0rem 1rem;
    }

    &__button:hover {
      background-position: 100%;
      color: $color-white-1;
      transform: translateX(1rem);
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black-1 50%);
      background-size: 230%;
      transition: all .4s;
    }

    &__navigation--cities, &__navigation--year, &__navigation--topic {
      opacity: 0;
      width: 0;
      transition: all .4s;
    }

    &__filter--close {
      display: none;
    }

    &__background {
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      left: $side-bar-size;
      top: 0px;
      bottom: 0px;
      width: 100%;
      text-align: center;
      z-index: 1000;
    }

    &__checkbox--cities:checked  ~ label {
      font-weight: 600;
    }

    &__checkbox--year:checked  ~ label {
      font-weight: 600;
    }

    &__checkbox--topic:checked  ~ label {
        font-weight: 600;
    }

    &__list {
      position: fixed;
      left: $side-bar-size;
      top: 25%;
      width: $side-bar-size;
      height: 100%;
      z-index: 1500;

      li {

        color: $color-white-1 !important;

        a {
          color: $color-white-1 !important;
        }

        a:hover, a:active {
          color: $color-black-1 !important;
          transform: translateX(1rem) !important;
          background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white-1 50%) !important;
          background-size: 230% !important;
          transition: all .4s !important;
        }

      }

    }

    &__container__cities {
      position: fixed;
      top: 0%;
      left: $side-bar-size;
      width: calc(100vw - #{$side-bar-size});
      height: 100%;
      z-index: 1500;
      transition: all .4s;

      .card__city {
        height: calc(100vh / 5);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.95;

        a {
          color: $color-white-1 !important;
        }

      }

      .card__city:hover {
        opacity: 1;
      }

      .card__city--berlin {
        background-image: linear-gradient(-225deg, rgba($color-yellow-1, 0.6) 0%, rgba($color-yellow-3, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363540/ey05opmvj8esek4su6r5.jpg');
      }

      .card__city--buenosaires {
        background-image: linear-gradient(-225deg, rgba($color-blue-5, 0.6) 0%, rgba($color-blue-4, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1515008215/fw14yv3lprbqash9tsiy.jpg');
      }

      .card__city--amsterdam {
        background-image: linear-gradient(-225deg, rgba($color-orange-1, 0.6) 0%, rgba($color-orange-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363468/kbxd5qwctplel7onwvtl.jpg');
      }

      .card__city--paris {
        background-image: linear-gradient(-225deg, rgba($color-blue-1, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363534/jjj7wfv2qkfimzc3r5ml.jpg');
      }

      .card__city--bordeaux {
        background-image: linear-gradient(-225deg, rgba($color-blue-1, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363527/ha9wchkn5khh189nhqw1.jpg');
      }

      .card__city--lille {
        background-image: linear-gradient(-225deg, rgba($color-blue-1, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1514889348/busfhitgdu0szzobbgc0.jpg');
      }

      .card__city--lyon {
        background-image: linear-gradient(-225deg, rgba($color-blue-1, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363537/poujtdh89wrlfdb1od8o.jpg');
      }

      .card__city--marseille {
        background-image: linear-gradient(-225deg, rgba($color-blue-1, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363521/imbjrkzkscphl7h5175v.jpg');
      }

      .card__city--montreal {
        background-image: linear-gradient(-225deg, rgba($color-blue-4, 0.6) 0%, rgba($color-blue-3, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363490/akvrnobeg0hcgirv4ffn.jpg');
      }

      .card__city--nantes {
        background-image: linear-gradient(-225deg, rgba($color-blue-1, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363514/bivzlom7zxtfducqkbhh.jpg');
      }

      .card__city--telaviv {
        background-image: linear-gradient(-225deg, rgba($color-blue-5, 0.6) 0%, rgba($color-blue-4, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1518702935/wjjz61sqs1mphbjeqw2y.jpg');
      }

      .card__city--brussels {
        background-image: linear-gradient(-225deg, rgba($color-red-1, 0.6) 0%, rgba($color-red-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363466/vnvpkwcchuvpt2glw6i3.jpg');
      }

      .card__city--chengdu {
        background-image: linear-gradient(-225deg, rgba($color-red-8, 0.6) 0%, rgba($color-red-7, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1536744481/cvzxdnxn0aqte6fnmspd.jpg');
      }

      .card__city--shanghai {
        background-image: linear-gradient(-225deg, rgba($color-red-8, 0.6) 0%, rgba($color-red-7, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363494/bknqkcwuwio4zhvmwbsv.jpg');
      }

      .card__city--shenzhen {
        background-image: linear-gradient(-225deg, rgba($color-red-8, 0.6) 0%, rgba($color-red-7, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1538028442/cwv0n1kowbvxe8eqtcms.jpg');
      }

      .card__city--copenhagen {
        background-image: linear-gradient(-225deg, rgba($color-red-5, 0.6) 0%, rgba($color-red-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363511/bjhwo9jlewnvx4wc26vo.jpg');
      }

      .card__city--london {
        background-image: linear-gradient(-225deg, rgba($color-red-3, 0.6) 0%, rgba($color-red-1, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363477/qd0coirdypia4w1vn3r1.jpg');
      }

      .card__city--bali {
        background-image: linear-gradient(-225deg, rgba($color-red-6, 0.6) 0%, rgba($color-red-7, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363470/i71xzflipodtc7xst0gr.jpg');
      }

      .card__city--kyoto {
        background-image: linear-gradient(-225deg, rgba($color-red-1, 0.6) 0%, rgba($color-red-9, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1530787199/llbjrr8bliik41yt1lew.jpg');
      }

      .card__city--tokyo {
        background-image: linear-gradient(-225deg, rgba($color-red-1, 0.6) 0%, rgba($color-red-9, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363463/phbp3nj5bla8jw592aer.jpg');
      }

      .card__city--casablanca {
        background-image: linear-gradient(-225deg, rgba($color-red-9, 0.6) 0%, rgba($color-red-8, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1526590989/l7cvue12ooum6fwhxf8b.jpg');
      }

      .card__city--barcelona {
        background-image: linear-gradient(-225deg, rgba($color-red-4, 0.6) 0%, rgba($color-red-3, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1512573935/xgofonemfzqiydml6s4q.jpg');
      }

      .card__city--lausanne {
        background-image: linear-gradient(-225deg, rgba($color-red-1, 0.6) 0%, rgba($color-red-6, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1537346748/hfkli0nfqlfudn6lbfrg.jpg');
      }

      .card__city--milan {
        background-image: linear-gradient(-225deg, rgba($color-green-1, 0.6) 0%, rgba($color-green-3, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363475/v1mmxecnoeng5bs9s1pb.jpg');
      }

      .card__city--melbourne {
        background-image: linear-gradient(-225deg, rgba($color-blue-3, 0.6) 0%, rgba($color-blue-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363485/lkcefaztq2zeapij8jsm.jpg');
      }

      .card__city--mexico {
        background-image: linear-gradient(-225deg, rgba($color-green-3, 0.6) 0%, rgba($color-green-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1528483015/fdqmdmang0tkdr7risx3.jpg');
      }

      .card__city--lisbon {
        background-image: linear-gradient(-225deg, rgba($color-green-1, 0.6) 0%, rgba($color-green-2, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363518/tbttvpvsayqwtvkzg29n.jpg');
      }

      .card__city--belohorizonte {
        background-image: linear-gradient(-225deg, rgba($color-yellow-2, 0.6) 0%, rgba($color-yellow-1, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363501/ikwrwcqgb1dohsrwogzg.jpg');
      }

      .card__city--riodejaneiro {
        background-image: linear-gradient(-225deg, rgba($color-yellow-2, 0.6) 0%, rgba($color-yellow-1, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1511363497/dbbekpmklgkxczj2wqwq.jpg');
      }

      .card__city--saopaulo {
        background-image: linear-gradient(-225deg, rgba($color-yellow-2, 0.6) 0%, rgba($color-yellow-1, 0.6) 50%), url('https://res.cloudinary.com/wagon/image/upload/c_fill,w_150/v1526053365/hpfe4f4msysebldbokgy.jpg');
      }

    }

  }

  ul {
    list-style: none;
  }

  li {

    color: $color-black-1;
    font-size: 2rem;
    font-weight: 300;
    padding: 0rem 1rem;

    a:link, a:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-black-1;
      padding: 0rem 1rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-black-1 50%);
      background-size: 230%;
      transition: all .4s;
    }

    a:hover, a:active {
      background-position: 100%;
      color: $color-white-1;
      transform: translateX(1rem);
    }

  }

  &__uparrow {
    background-color: $color-black-1;
    position: absolute;
    bottom: 3%;
    left: 5%;
    width: 70%;
    text-align: center;
    padding: 0 1rem;
    color: $color-white-1;
    border-radius: 2px;

    a {
      text-decoration: none;
      color: $color-white-1;
      font-size: 2rem;
      font-weight: 300;
    }

  }

}

.pagination {
  background: $color-white-1;
  border: 1px solid $gray;
  border-radius: 2px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1em;
  cursor: default;
  float: right;
}

.pagination a, .pagination span {
  padding: 0.2em 0.3em;
}
.pagination .disabled {
  color: #aaaaaa;
}
.pagination .current {
  background-color: $color-black-1;
  color: $color-white-1;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 50%;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}
.pagination a {
  text-decoration: none;
  color: $color-black-1;
}
.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}

// Transitions
@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Media Queries
@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 37.5%;
  }
}

@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}


