<header class="header">
  <div class="logo-box">
    <%= image_tag("logo-black-2.png", alt:"Wagon", class:"logo") %>
  </div>
  <div class="text-box">
    <h1 class="heading-primary">
      Products
    </h1>
  </div>
</header>
