<header class="header">
  <div class="bg-video">
    <%= video_tag(["video.mp4", "video.webm"], muted: true, loop: true, autoplay: true, class: "bg-video__content") %>
    <div class="header__logo-box">
      <%= image_tag("logo-black-2.png", alt:"Wagon", class:"header__logo-wagon") %>
      <h2 class="header__logo-text">x</h2>
      <%= image_tag("logo-alumni.png", alt:"Alumni", class:"header__logo-alumni") %>
    </div>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <!-- Products -->
      </h1>
    </div>
  </div>
</header>

<section class="section-products">

  <h2 class="heading-secondary">
    What we achieved in 10 days
  </h2>

  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-2">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/wagon/image/upload/v1536313429/ggi3qlipypx9x37vs3ba.jpg');">
              &nbsp
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--emea">
                Gimme Shelter
              </span>
            </h4>
            <h4 class="card__description">
              <span class="card__description-span card__description-span--emea">
                Helping to break the cycle of homelessness
              </span>
            </h4>
            <img class="card__user card__user--1" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/ya4d3ybhvvfbkdg7ju45.jpg">
            <!-- <span class="card__user-span">
                Jess Lee
            </span> -->
            <img class="card__user card__user--2" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/vmb87l47rvatbv0gmliy.jpg">
            <!-- <span class="card__user-span">
                Ben Herring
            </span> -->
            <img class="card__user card__user--3" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/ya4d3ybhvvfbkdg7ju45.jpg">
            <!-- <span class="card__user-span">
                Jess Lee
            </span> -->
            <img class="card__user card__user--4" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/vmb87l47rvatbv0gmliy.jpg">
            <!-- <span class="card__user-span">
                Ben Herring
            </span> -->
            <div class="card__details">
              <ul>
                <li>London - 2018 - Batch #173</li>
              </ul>
            </div>
            <!-- <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon</h2>
              <p>Very cool city</p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <a class="card-link" href="#" ></a>  -->
          </div>
          <div class="card__side card__side--back card__side--back-emea">
            <!-- <div class="card-description">
              <h2>Shanghai</h2>
              <p>The best</p>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
