// Card design
.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 36rem;
  margin: 1rem 0;
  transition: all .8s ease;

  &__side {
    height: 36rem;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black-1, .15);


    &--front-offline {
      background-color: $color-black-1;
    }

    &--front-france {
      background-image: linear-gradient(to right bottom, $color-blue-1, $color-blue-2);
    }

    &--front-germany {
      background-image: linear-gradient(to right bottom, $color-yellow-1, $color-yellow-3);
    }

    &--front-belgium {
      background-image: linear-gradient(to right bottom, $color-red-1, $color-red-2);
    }

    &--front-england {
      background-image: linear-gradient(to right bottom, $color-red-3, $color-red-1);
    }

    &--front-spain {
      background-image: linear-gradient(to right bottom, $color-red-4, $color-red-3);
    }

    &--front-denmark {
      background-image: linear-gradient(to right bottom, $color-red-5, $color-red-2);
    }

    &--front-portugal {
      background-image: linear-gradient(to right bottom, $color-green-1, $color-green-2);
    }

    &--front-italy {
      background-image: linear-gradient(to right bottom, $color-green-1, $color-green-3);
    }

    &--front-switzerland {
      background-image: linear-gradient(to right bottom, $color-red-1, $color-red-6);
    }

    &--front-holland {
      background-image: linear-gradient(to right bottom, $color-orange-1, $color-orange-2);
    }

    &--front-australia {
      background-image: linear-gradient(to right bottom, $color-blue-3, $color-blue-2);
    }

    &--front-indonesia {
      background-image: linear-gradient(to right bottom, $color-red-6, $color-red-7);
    }

    &--front-china {
      background-image: linear-gradient(to right bottom, $color-red-8, $color-red-7);
    }

    &--front-japan {
      background-image: linear-gradient(to right bottom, $color-red-1, $color-red-9);
    }

    &--front-canada {
      background-image: linear-gradient(to right bottom, $color-blue-4, $color-blue-3);
    }

    &--front-brazil {
      background-image: linear-gradient(to right bottom, $color-yellow-2, $color-yellow-1);
    }

    &--front-argentina {
      background-image: linear-gradient(to right bottom, $color-blue-5, $color-blue-4);
    }

    &--front-mexico {
      background-image: linear-gradient(to right bottom, $color-green-3, $color-green-2);
    }

    &--front-israel {
      background-image: linear-gradient(to right bottom, $color-blue-5, $color-blue-4);
    }

    &--front-morocco {
      background-image: linear-gradient(to right bottom, $color-red-9, $color-red-8);
    }

  }

  &:hover {
    transform: translateY(-1rem);
  }

  &__picture {
    background-size: cover;
    background-position: center;
    height: 30rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%);
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $color-black-1;
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-align: left;
    width: 90%
  }

  &__heading-span {
    padding: 0 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom,
        rgba($color-white-1, .85),
        rgba($color-white-2, .85));
  }

  &__description {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-white-1;
    position: absolute;
    top: 6rem;
    left: 1rem;
    text-align: left;
    width: 80%
  }

  &__description-span {
    padding: 0rem 0.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right bottom,
        rgba($color-black-1, .85),
        rgba($color-black-1, .85));
  }

  &__details {
    padding: 1rem;
    transform: translateY(-3.5rem);

    ul {
      list-style: none;
      width: 100%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }

      }

    }

  }

   &__subdetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }

  &__users {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__user {
    height: 3rem;
    width: 3rem;
    position: relative;
  }

  &__img {
    height: 100%;
    border-radius: 50%;
    transform: translateX(-0.1rem) scale(1.1);
    transition: all .5s;
    backface-visibility: hidden;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white-1;
    text-transform: uppercase;
    font-size: 0.6rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &__user:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -30%);
  }

  &__user:hover &__img {
    transform: translateX(-0.1rem) scale(1);
    filter: blur(1px) brightness(70%);
  }

  &__upvote {
    display: flex;
    flex-direction: column;
  }

  &__arrow {
    width: 0;
    height: 0;
    border-left: 0.6rem solid transparent;
    border-right: 0.6rem solid transparent;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.9rem solid $color-white-1;
    border-radius: 2px;
    margin: auto;
    transition: all 0.15s ease;

  }

  &__count {
    font-size: 1.5rem;
    text-align: center;
  }

  /* Upvote gets a bit bigger */
  &__upvote:hover {
    transform: scale(1.2);
    color: #5898f1;
    cursor: pointer;
  }

  /* Arrow triangle turns blue */
  &__upvote:hover &__arrow {
    border-bottom: 0.9rem solid #5898f1;
  }

}
